In [8]:
import pandas as pd
import numpy as np
path = "budget_data.csv"

file = pd.read_csv(path)
file.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [21]:
total_months = file["Date"].count()
total_revenue = file["Profit/Losses"].sum()
max_increase = file["Profit/Losses"].max()
min_decrease = file["Profit/Losses"].min()
average = total_revenue / total_months

38382578

In [26]:
list = [{"Total Months": total_months,
         "Total": total_revenue,
         "Average Change": average,
         "Greatest Increase": max_increase, 
         "Greatest Decrease": min_decrease} ]
graph = pd.DataFrame(list)
print(graph)

   Average Change  Greatest Decrease  Greatest Increase     Total  \
0   446309.046512           -1196225            1170593  38382578

   Total Months
0            86